<div class="container" style="">

  <div *ngIf="!error;else failed" class="correct msg-box">Okay</div>
  <ng-template #failed ><div class="failed msg-box">{{error}}</div></ng-template>

  <div class="left-side" >
    <h3>Preview - HTML</h3>

    <div class="preview-container" [innerHTML]="htmlFormat" ></div>
  </div>

  <div class="right-side" >
    <h3>Type in HTML</h3>
    <button (click)="insertElement('h1')">h1</button>
    <button (click)="insertElement('b')">b</button>
    <hr>

    <textarea class="textarea" autosize (keyup)="typeTextarea($event)" #textAreaElement
              [(ngModel)]="htmlFormat"></textarea>
  </div>


</div>
